*{
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: gray ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    background:rgb(2, 5, 11);
    border: thick solid #fff;
    padding:20px;
    border-radius:10px;
}
.Calculator form input{
    border: 10px;
    box-sizing: border-box #ffff;
    outline:10px;
    width: 50px;
    height: 50px;
    border-radius:20px;
    box-shadow: -8px -8px 15px rgba(255,255, 255,0,1),5px,5px,15px,rgba(0,255,255,0,1);
    background: transparent;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    margin: 20px;

}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex:1;
    font-size: 40px;
    box-shadow: none;
}


